/* LIGHT MODE */
body.light-mode {
  background-color: white;
  color: black;
}

body.light-mode .navbar {
  background-color: white;
  color: black;
}

body.light-mode .navbar .navbar-brand,
body.light-mode .navbar .nav-link {
  color: black;
}

body.light-mode .navbar .nav-link:hover {
  color: #007bff; /* link hover */
}

body.light-mode .profile-container {
  perspective: 1000px; /* Create depth for the 3D effect */
}

body.light-mode .profile-img {
  max-width: 250px;
  height: auto;
  transition: transform 0.5s; /* Smooth transition */
  transform-style: preserve-3d; /* Enable 3D effect */
  /* Optional: Add the front face of the profile image */
}

body.light-mode .profile-img:hover {
  transform: rotateY(180deg); /* Flip the image on hover */
}

/* DARK MODE */
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .navbar {
  background-color: #333;
  color: white;
}

body.dark-mode .navbar .navbar-brand,
body.dark-mode .navbar .nav-link {
  color: white;
}

body.dark-mode .navbar .nav-link:hover {
  color: #007bff;
}

body.dark-mode .profile-container {
  perspective: 1000px; /* Create depth for the 3D effect */
}

body.dark-mode .profile-img {
  max-width: 250px;
  height: auto;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

body.dark-mode .profile-img:hover {
  transform: rotateY(180deg); /* Flip the image on hover */
}

/* ADDITIONAL STYLES */
#about {
  padding: 30px 0;
}

#skills {
  padding: 30px 0;
}

#contact {
  padding: 30px 0;
}

/* Additional general styles for sections */
body.light-mode #contact,
body.dark-mode #contact {
  background-color: #f8f9fa;
  color: black;
}

body.light-mode #skills,
body.dark-mode #skills {
  background-color: #f8f9fa;
  color: black;
}
